.Button {
    width: 100%;
    height: 100%;
}

.buttonCircular {
    /* font-family: 'RobotoRegular'; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.buttonNormal {
    font-family: 'RobotoRegular';
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    border-radius: 0px;
    border: none;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.Button:hover {
    filter: brightness(1.2);
}
.Button:active {
    filter: invert(1);
}
