.mainPage {
    margin-top: 0vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.aboutSection {
    display: flex;
    align-items: stretch; /* Asegura que los elementos hijos se estiren para tener la misma altura */
}
a {
    text-decoration: none;
  }
.about {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 200);
    height: auto; /* Ajusta automáticamente la altura según el contenido */
    padding: 3%;
}
.presentation{
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}
.profilePicture{
    height: auto; /* Asegura que la imagen mantenga su proporción */
    width: 50vw;
}

.mainPage h1 {
    width: 100%;
    text-align: center;
    font-family: 'RobotoRegular';
    color: white;
    font-size: 20vw;
    margin-bottom: 0%;
    margin-top: 10%;
}
.mainPage h2 {
    width: 100%;
    text-align: center;
    font-family: 'RobotoRegular';
    color: white;
    font-size: 4rem;
    margin-bottom: 10px;
}
.mainPage h3 {
    width: 100%;
    text-align: center;
    font-family: 'RobotoRegular';
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
}

.mainPage h4 {
    width: 100%;
    text-align: center;
    font-family: 'RobotoRegular';
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
}
.imageBox {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1%;
} 
.imageBox .image {
    width: 10%;
    height: 80vh;
    border-radius: 50px;
    transition: width 1.0s;
    filter: brightness(0.9);
}
.imageBox .image a img { 
    width: 100%; 
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
    border-radius: 50px;
}
.imageBox .image:hover {
    width:80%;
    cursor: pointer;
    filter: brightness(1);
}
.imageBox img{
    width: 5%;
    height: 80vh;
    border-radius: 50px;
    transition: width 0.8s;
    filter: brightness(0.5);
}
.imageBox img:hover{
    cursor: pointer;
    filter: brightness(1);
}
.image p {
    background-color: white;
    text-align: center;
    font-family: 'RobotoRegular';
    color: rgba(100,33,255,255);
    font-size: 2rem;
    display: none;
    transform: translateY(-150px);
    z-index: 50;
}
.image:hover p{
    cursor: pointer;
    filter: brightness(1);
    display: block;
    white-space: nowrap;
}
.cardOuterD {
    margin-bottom: 60%;
}
.techSection {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
}

.techDiv {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(24, 41, 67);
    height: auto; /* Ajusta automáticamente la altura según el contenido */
}

@media only screen and (max-width: 1023px) {
    .cardOuterD {
        margin-bottom: -10%;
        width: 100%;
        justify-content: center;
        justify-items: center;
        display: flex;
    }
    .aboutSection{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .profilePicture{
        height: auto; /* Asegura que la imagen mantenga su proporción */
        width: 100vw;
    }
    .techSection {
        background-color: rgb(24, 41, 67);
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    .about {
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
        background-color: rgb(255, 255, 200);
        height: auto; /* Ajusta automáticamente la altura según el contenido */
        padding: 3%;
    }
    .mainPage {
        margin-top: 5vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mainPage h2 {
        width: 100%;
        text-align: center;
        font-family: 'RobotoRegular';
        color: white;
        font-size: 10vw;
        margin-bottom: 10px;
    }
    .imageBox {
        max-height: 100%;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 1%;
    } 
    .imageBox .image {
        width: 100%;
        height: 20%;
        border-radius: 50px;
        transition: height 0.8s;
        filter: brightness(0.5);
    }
    .imageBox .image a img { width: 100%; height: 100%;}
    .imageBox .image:hover {
        width: 100%;
        height:100%;
        cursor: pointer;
        filter: brightness(1);
    }
    .imageBox img{
        width: 100%;
        height: 30%;
        border-radius: 50px;
        object-fit: cover;
        image-rendering: auto;
        transition: height 0.8s;
        filter: brightness(0.9);
    }
    .imageBox img:hover{
        width: 100%;
        height: 100%;
        cursor: pointer;
        filter: brightness(1);
    }
}