/* Apply padding, rounded corners, and full height */
.colorChangeDiv {
    padding: 1%;
    border-radius: 10px;
    height: 100%;
    width: auto;
    transition: filter 0.3s ease; /* Add transition property for smoother hover effect */
    user-select: all;
    cursor: pointer;
}
.colorChangeDiv h3 {
    font-size: 2.5vw;
}
.colorChangeDiv h4 {
    font-size: 1.5vw;
}
/* Hover effect with brightness change */
.colorChangeDiv:hover {
    filter: brightness(0.5); /* Use filter for better compatibility */
}
